{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "airbnb-typescript",
    "airbnb"
  ],
  "rules": {
    // 충돌 방지
    "camelcase": "off", // model에서 camelCase 사용 가능
    "indent": "off", // prettier 사용
    "new-cap": "off", // 생성자 이름 대문자 사용 가능
    "no-plusplus": "off", // for문에서 i++ 사용 가능
    "no-console": "off", // console.log 사용 가능
    "no-debugger": "warn", // debugger 사용 가능
    "no-underscore-dangle": "off", // _ 사용 가능
    "no-useless-constructor": "off", // constructor 선언용
    "no-empty-function": "off", // constructor 선언용 
    "operator-linebreak": "off", // prettier 사용
    "lines-between-class-members": "off", // class 멤버 사이 빈 줄 사용
    "class-methods-use-this": "off", // class method에서 this 사용 안하기
    "import/extensions": "off", // import 확장자 사용 안하기
    "import/no-unresolved": "off", // import 경로 오류 끄기
    "import/prefer-default-export": "off", // export default 사용 안하기
    "import/no-extraneous-dependencies": "off", // devDependencies 사용 끄기
    "@typescript-eslint/no-explicit-any": "off", // error는 any 사용 가능
    "@typescript-eslint/indent": "off", // prettier 사용
    // import 순서
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ],
        "alphabetize": {
          "order": "desc"
        }
      }
    ],
    // 에러 처리
    "semi-spacing": "error",
    "quotes": [
      "error",
      "single"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
  }
}